{% extends 'internaute/base.html' %}
{% load static%}
{% block base%}
<section class="inscription bg-00262b vh-100">
  <div class="container h-100 d-flex align-items-center justify-content-center pb-5">
      <div class="contenu d-flex flex-column bg-details p-5 mt-5 w-100">
          <div class="Bigtitle d-flex pb-5 ">
              <h1>Inscrivez-vous</h1>
          </div>
          <div class="forum-button pb-5 d-flex justify-content-center align-items-center ">
              <div class="inscForum px-5 mx-5">
                 <form method="post" class="d-flex flex-column "> 
                    {% csrf_token %}
                    {% for field in form %}
                      <label class="mt-3" for="email">{{ field.label_tag }}</label>
                      {{ field }}
                      {% for error in field.errors %}
                        <p style="color: red; margin: 0;">{{ error }}</p>
                      {% endfor %}
                  {% endfor %}
                  <input class="butoon bg-00262b mt-4 " type="submit" value="Inscrire">
                     
                  </form>
              </div>
          </div>
      </div>
  </div>
</section>


{% endblock base%}